# ----------------------------------------
# Frontend Dev Server
# ----------------------------------------
# 開多份專案時可直接設定整組平移量，例如 0 / 100 / 200
PORT_OFFSET=0
VITE_PORT=5173

# ----------------------------------------
# Main Server
# ----------------------------------------
VITE_MAIN_SERVER_PORT=7070
